body {
    background-color: #9adce3;
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 10px;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

#url {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    text-align: center;
}

pp {
    margin-top: 20px;
    text-align: left;
    white-space: pre-wrap;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}