<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SetList Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>YouTube SetList Generator</h1>
    </header>
    <main>
        <form action="/process_url" method="post">
            <input type="url" name="url" id="url" placeholder="Insert YouTube setlist URL">
            <button type="submit">Generate SetList</button>
        </form>
        <p>
            Please wait, it may take a while. Videos with duration of 1h30 may take 20min to have its SetList generated.
        </p>
        {% if url %}
            <h2>Resultado</h2>
            <p>{{ url }}</p>
            <p>{{ setlist }}</p>
        {% endif %}
        <p>
            Please, send sugestions to improve YouTube SetList Generator: <a href="mailto:setlistgenerator@gmail.com">setlistgenerator@gmail.com</a>
        </p>
    </main>
</body>
</html>